<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/main">Tishkina1050</a>
  <div class=" navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main" routerLinkActive="active">Главная страница</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalog" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Список покупок</a>
      </li>
    </ul>
  </div>
</nav>
